{% extends 'base.html' %}
{% load static %}
{% block content_class %}content--register{% endblock %}
{% block title %}Договоры{% endblock %}
{% block page_name %}debts{% endblock %}
{% block heading %}Договоры{% endblock %}
{% block content %}
<section class="panel data-register data-register--filters">
    {% include 'imports/partials/record_header.html' with title='Договоры' import_code='contracts' %}
    {% include 'imports/partials/record_filters.html' %}
    <div data-live-balances>{% include 'imports/partials/debt_register.html' %}</div>
</section>
{% endblock %}

{% block scripts %}<script defer src="{% static 'js/balances.js' %}"></script><script defer src="{% static 'js/table-pagination.js' %}?v=20261006-2"></script>{% endblock %}
